<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>exmg-card demos</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="horizontal-section-container">
      <div>
        <h4>Side Menu Demos</h4>
        <ul class="horizontal-section">
          <li><a href="plain.html" target="_blank">No Menu Header</a></li>
          <li><a href="default.html" target="_blank">Default Menu Header</a></li>
          <li><a href="search.html" target="_blank">Custom (Search) Header</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
